Kanban-BE/.vs
Kanban-BE/Kanban.Api/bin
Kanban-BE/Kanban.Api/obj
Kanban-BE/Kanban.Model/bin
Kanban-BE/Kanban.Model/obj
Kanban-BE/Kanban.Repository/bin
Kanban-BE/Kanban.Repository/obj
Kanban-BE/Kanban.Service/bin
Kanban-BE/Kanban.Service/obj
UI/node_modules