<div class="app-border">
  <div class="app">
    <nav class="nav-header">
      <div class="container-fluid" style="padding: 0px 40px">
        <div class="d-flex justify-content-between">
          <div id="logo">
            Plan tracker
          </div>
          <div id="logout"><span id="username">Hi! {{authenticationResult.employee.name}}</span><span><a href="/login">Logout</a></span></div>
        </div>
      </div>
    </nav>
    <div class="border-app container-fluid" style="padding: 0px 40px">
      <div id="kanban">
        <dx-scroll-view
          class="scrollable-board"
          direction="horizontal"
          showScrollbar="always">
          <dx-sortable
            class="sortable-lists"
            itemOrientation="horizontal"
            handle=".list-title"
            (onReorder)="onListReorder($event)">
            <div class="list" *ngFor="let list of lists; let listIndex = index">
              <div class="list-title dx-theme-text-color" style="">
                {{list.name}}
                <span>
            {{list.tasks?.length}}
          </span>
                <span class="control-icon">
            <i class="fas fa-ellipsis-h"></i>
          </span>
              </div>
              <dx-scroll-view
                class="scrollable-list"
                direction="vertical"
                showScrollbar="always">
                <dx-sortable
                  class="sortable-cards fit-content"
                  group="cardsGroup"
                  [data]="list"
                  (onDragStart)="onTaskDragStart($event)"
                  (onReorder)="onTaskDrop($event)"
                  (onAdd)="onTaskDrop($event)">
                  <div class="p-card card dx-card dx-theme-text-color dx-theme-background-color"
                       *ngFor="let task of list.tasks"
                       (click)="showFormEdit(task)">
                    <div class="card-priority"></div>
                    <div class="card-subject" style="text-align: left">{{task.name}}</div>
                    <div class="card-due" *ngIf="task.dueDate"><i class="far fa-clock"></i> {{task.dueDate | date}}
                    </div>
                    <div class="card-assignee" style="text-align: right">{{task.assignedEmployee.name}}</div>
                  </div>

                  <div class="card dx-card dx-theme-text-color dx-theme-background-color btn-add"
                       style="text-align: left"
                       (click)="showFormCreate($event, list)"
                       [id]="listIndex">
                    Add a task...
                  </div>
                </dx-sortable>
              </dx-scroll-view>
            </div>
          </dx-sortable>
        </dx-scroll-view>

        <app-task *ngIf="popupVisible"
                  [task]="task"
                  [lists]="lists"
                  [(visible)]="popupVisible">
        </app-task>
      </div>

    </div>
  </div>
</div>
