<div class="body-content" style="background: #add9e6b3; height: 1000px">
  <div class="login-wrap">
    <div class="login-html">
      <input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab">Sign In</label>
      <input id="tab-2" type="radio" name="tab" class="sign-up"><label for="tab-2" class="tab">Sign Up</label>
      <div class="login-form">
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
          <div class="sign-in-htm">
            <div class="group">
              <label for="user" class="label">Username</label>
              <input id="user" formControlName="username" type="text" class="input" [ngClass]="{ 'is-invalid': submitted && formLogin.username?.errors }" >
              <div *ngIf="submitted && formLogin.username?.errors" class="invalid-feedback">
                <div *ngIf="formLogin.username.errors.required">Username is required</div>
              </div>
            </div>
            <div class="group">
              <label for="pass" class="label">Password</label>
              <input id="pass" type="password" class="input" formControlName="password" [ngClass]="{ 'is-invalid': submitted && formLogin.password?.errors }">
              <div *ngIf="submitted && formLogin.password?.errors" class="invalid-feedback">
                <div *ngIf="formLogin.password.errors.required">Password is required</div>
              </div>
            </div>
            <div class="group">
              <input id="check" type="checkbox" class="check" checked>
              <label for="check"><span class="icon"></span> Keep me Signed in</label>
            </div>
            <div class="group">
              <input type="submit" class="button" value="Sign In" [disabled]="loading">
            </div>
            <div class="hr"></div>
            <div class="foot-lnk">
              <a href="#forgot" style="color: white">Forgot Password?</a>
            </div>
          </div>
        </form>
        <div class="sign-up-htm">
          <form [formGroup]="registerForm" (ngSubmit)="onSubmitRegister()">
            <div class="group">
              <label for="email" class="label">Email</label>
              <input id="email" type="text" class="input" formControlName="email" [ngClass]="{ 'is-invalid': submittedRegister && formRegister.email?.errors }">
              <div *ngIf="submittedRegister && formRegister.email?.errors" class="invalid-feedback">
                <div *ngIf="formRegister.email.errors.required">Email is required</div>
              </div>
            </div>

            <div class="group">
              <label for="password" class="label">Password</label>
              <input id="password" type="password" class="input" formControlName="password" [ngClass]="{ 'is-invalid': submittedRegister && formRegister.password?.errors }" >
              <div *ngIf="submittedRegister && formRegister.password?.errors" class="invalid-feedback">
                <div *ngIf="formRegister.password.errors.required">Password is required</div>
              </div>
            </div>

            <div class="group">
              <label for="rePassword" class="label">Repeat Password</label>
              <input id="rePassword" type="password" class="input" formControlName="rePassword" [ngClass]="{ 'is-invalid': submittedRegister && formRegister.rePassword?.errors }" >
              <div *ngIf="submittedRegister && formRegister.rePassword?.errors" class="invalid-feedback">
                <div *ngIf="formRegister.rePassword.errors.required">Repeat password is required</div>
              </div>
            </div>

            <div class="group">
              <label for="name" class="label">Name</label>
              <input id="name" type="text" class="input" formControlName="name" [ngClass]="{ 'is-invalid': submittedRegister && formRegister.name?.errors }" >
              <div *ngIf="submittedRegister && formRegister.name?.errors" class="invalid-feedback">
                <div *ngIf="formRegister.name.errors.required">Name is required</div>
              </div>
            </div>

            <div class="group">
              <label for="address" class="label">Address</label>
              <input id="address" type="text" class="input" formControlName="address" [ngClass]="{ 'is-invalid': submittedRegister && formRegister.address?.errors }" >
              <div *ngIf="submittedRegister && formRegister.address?.errors" class="invalid-feedback">
                <div *ngIf="formRegister.address.errors.required">Address is required</div>
              </div>
            </div>

            <div class="group">
              <label for="phone" class="label">Phone</label>
              <input id="phone" type="text" class="input" formControlName="phone" [ngClass]="{ 'is-invalid': submittedRegister && formRegister.phone?.errors }" >
              <div *ngIf="submittedRegister && formRegister.phone?.errors" class="invalid-feedback">
                <div *ngIf="formRegister.phone.errors.required">Phone is required</div>
              </div>
            </div>

            <div class="group">
              <input type="submit" class="button" value="Sign Up" [disabled]="loading">
            </div>
            <div class="hr"></div>
            <div class="foot-lnk" style="color: white">
              <label for="tab-1">Already Member?</label>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

</div>
